.auto-width-tb {
  height: -webkit-fill-available;
  border: none;
  font-size: 22px;
  padding-left: 12px;
  font-weight: 600;
  background: transparent;
}

.auto-width-tb-wrapper {}

.autosize-textarea {
  border: none;
  font-size: 18px;
  padding: 15px 8px;
  background: transparent;
  overflow: hidden;
  resize: none;
  width: 100%;
}