:root {
  --border-bottom-color: rgb(184, 184, 184);
}

.auto-width-tb {
  height: -webkit-fill-available;
  border: none;
  font-size: 22px;
  padding-left: 12px;
  font-weight: 600;
  background: transparent;
}

.auto-width-tb-wrapper {
  height: -webkit-fill-available;
}

.autosize-textarea {
  border: none;
  font-size: 18px;
  padding: 15px 8px;
  background: transparent;
  overflow: hidden;
  resize: none;
  width: -webkit-fill-available;
}

.list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-bottom-color);
  width: -webkit-fill-available;
}

.list-item-left {
  height: -webkit-fill-available;
}

.list-item-middle {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  user-select: none;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-primary {
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
}

.accordion-toggle {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
}