:root {
  --main-font: sans-serif;
  --button-hover-bg: rgba(235, 235, 235, 0.5);
  --button-active-bg: rgba(207, 207, 207, 0.5);
  --buttons-transition-speed: 200ms;
}

body {
  margin: 0;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  font-family: var(--main-font);
}

textarea:focus,
input:focus {
  outline: none;
}

.add-button {
  position: absolute;
  border: none;
  bottom: 26px;
  right: 26px;
  background: rgb(99, 215, 197);
  border-radius: 50%;
  fill: white;
  display: flex;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px #bcbcbc;
  transition: var(--buttons-transition-speed)
}

.add-button:active {
  background-color: #46ff74;
  transition: var(--buttons-transition-speed);
}

.add-button svg {
  width: 26px;
  height: 26px;
}