:root {
  --note-item-right-icon-color: black;
  --note-prio1-bg-color: #a3ffb0;
  --note-prio2-bg-color: #f9ffa1;
}

.notes-view {
  overflow: hidden;
}

.note-item {
  display: flex;
  align-items: stretch;
  color: var(--note-item-color);
}

.note-top {
  display: flex;
  align-items: center;
}

.note-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.note-title-textarea {
  background-color: #ff8f8f;
  border: none;
  overflow: hidden;
  resize: none;
  padding: 15px 8px;
  width: 100%;
  font-size: 18px;
}

.note-text-textarea {
  background-color: white;
  border: none;
  overflow: hidden;
  resize: none;
  padding: 15px 0px 15px 8px;
  font-size: 18px;
}

.note-icon-right {
  fill: var(--note-item-right-icon-color);
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.prio-0 {
  background-color: var(--note-prio1-bg-color);
}

.prio-1 {
  background-color: var(--note-prio2-bg-color);
}

.note-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.note-header {
  display: flex;
}