:root {
  --section-height: 64px;
  --border-bottom-color: rgb(184, 184, 184);
}

.section-item {
  height: var(--section-height);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-bottom-color);
}

.section-middle {
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  user-select: none;
  width: -webkit-fill-available;
}

.section-count {
  margin: auto;
  color: gray;
}

.drag-handle {
  padding: 0px 0px 0 10px;
}