:root {
  --section-height: 64px;
  --section-item-bg: #ffffff;
  --section-item-color: #000000;
  --border-bottom-color: rgb(184, 184, 184);
  --section-item-left-icon-color: #6bff9c;
  --section-item-right-icon-color: black;
}

.section-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--border-bottom-color);
}

.section-middle {
  height: var(--section-height);
  display: flex;
  align-items: center;
  padding: 0rem;
  color: var(--section-item-color);
  cursor: pointer;
  user-select: none;
  width: -webkit-fill-available;
}

.section-info-items {
  margin-left: auto;
  display: flex;
}

.section-count {
  margin: auto;
  color: gray;
}

.section-textbox {
  border: none;
  font-size: 22px;
  padding-left: 12px;
  font-weight: 600;
  line-height: calc(var(--section-height) - 2px);
  background: transparent;
}

.section-textbox-wrapper {
  float: left;
}