:root {
  --section-height: 64px;
  --section-item-bg: #ffffff;
  --section-item-color: #000000;
  --border-bottom-color: rgb(184, 184, 184);
  --section-item-left-icon-color: #6bff9c;
  --section-item-right-icon-color: black;
}

.notes-main-view {
  background-color: var(--section-item-bg);
}

.section-item {
  height: var(--section-height);
  display: flex;
  align-items: center;
  padding: 0rem;
  color: var(--section-item-color);
  border-bottom: 1px solid var(--border-bottom-color);
}

.section-icon-left {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--section-item-left-icon-color);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-icon-left svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.section-right-items {
  margin-left: auto;
  display: flex;
}

.section-count {
  margin: auto;
  color: gray;
}

.section-icon-right {
  fill: var(--section-item-right-icon-color);
  margin-right: 8px;
  margin-top: 4px;
}

.section-textbox {
  border: none;
  border-bottom: 1px solid var(--border-bottom-color);
  font-size: 22px;
  padding-left: 12px;
  font-weight: 600;
  line-height: calc(var(--section-height) - 2px);
}

.section-textbox-wrapper {
  float: left;
}